.btn-default {
  padding: 10px 15px;
  text-transform: uppercase;
  color: $color-secondary;
  background-color: transparent;
  @include sq-border-radius($radius: 2px);
  border-color: $color-secondary;

  &.--full {
    background-color: $color-secondary;
    color: $color-white;
  }

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-secondary;
    border-color: $color-secondary;
  }
}

.btn-primary {
  padding: 10px 30px;
  text-transform: uppercase;
  color: $color-text;
  background-color: transparent;
  @include sq-border-radius($radius: 2px);
  border-color: $color-text;

  &:hover,
  &:focus {
    background-color: $color-text;
    border-color: $color-text;
    color: $color-white;
  }
}

.fileUpload {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 350px;
  border: 3px dashed rgba(255, 87, 34, 0.8);
  overflow: hidden;

  span {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -35px;
    width: 400px;
    font-size: 50px;
    font-weight: bold;
    color: $color-white;
  }

  &:hover {
    background-color: rgba(255, 87, 34, 0.65);

    span {
      display: block;
    }
  }
}

.fileUpload input.upload {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}